extends ../layout

block content
  h1.title Editing #{app.name}

  form(action=`/apps/${app._id}`, method="post")
    include ../shared/app-form-fields
    .field
      input.button(type="submit", value="Update")
