extends ../layout

block content
  h1.title Log in

  form(action="/sessions/login", method="post")
    .field
      label.label Username
      input.input(type="text" name="username" autofocus)
    .field
      label.label Password
      input.input(type="password" name="password")
    .field
      input.button(type="submit", value="Log In")
