extends ../layout

block content
  h1.title Register
  if errors.length > 0
    ul
      each err in errors
        li= err

  form(action="/sessions/register", method="post")
    include ../shared/new-user-fields
    .field
      input.button(type="submit", value="Register")
